img[alt=s150] { width: 150px; margin: auto}
img[alt=s200] { width: 200px; margin: auto}
img[alt=s250] { width: 250px; margin: auto}
img[alt=s300] { width: 300px; margin: auto}
img[alt=s350] { width: 350px; margin: auto}
img[alt=s400] { width: 400px; margin: auto}
img[alt=s500] { width: 500px; margin: auto}
img[alt=s530] { width: 530px; margin: auto}
img[alt=s550] { width: 550px; margin: auto}