.container-b {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  padding: 5px;
  margin:0;
  padding: 0;
  max-width: 1200px; /* Adjust the max-width as needed */
}

.row-b {
  display: flex;
  width: 100%;
  margin:2px;
}

.button-cell {
  width: calc(50% - 4px); /* Subtract the gap width */
  height: 45px; /* Uniform height */
  margin: 4px; 
  box-sizing: border-box; /* Include padding and border in width and height */
}

.button {
  height: 100%; /* Fill the container */
  background-color: #fce8e8; /* Set the default background color */
  display: flex;
  align-items: center;
  justify-content: center; /* Center the text horizontally */
  text-decoration: none; /* Remove underline from links */
  transition: background-color 0.3s; /* Add transition for background color */
  border-radius: 5px;
  font-size: small;
}

.button:hover {
  background-color: #ffc5c1; /* Set the hover background color */
}

/* Optional: Style the anchor tag inside the button to inherit button styles */
.button-cell a {
  display: flex;
  color: black;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: inherit;
}

.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
}

.aspect-ratio iframe {
position: absolute;
width: 100%;
height: 75%;
left: 0;
top: 0;
}